<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%boldGreen(%5level) %boldGreen([%thread]) - %boldGreen(%msg%n)</pattern>
    </encoder>
  </appender>
	
<!-- 모든 로그 남기기 -->
  <logger name="com.yedam" level="DEBUG"/>  
  <logger name="jdbc.resultsettable" level="DEBUG" />
  <logger name="jdbc.sqltiming" level="DEBUG" />
  
  <root level="error">
    <appender-ref ref="stdout"/>
  </root>

</configuration>